<mat-toolbar>
    <div class="left-side">
      <img src="assets/cruise.png" alt="CruiseManagement">
      <span>CruiseManagement</span>
    </div>
  
    <div class="right-side">
      <!-- Show "Login" and "Register" buttons if user is not logged in -->
      <span mat-button *ngIf="!isloggedin" routerLink="/login">Login</span>
      <span mat-button *ngIf="!isloggedin" routerLink="/register">Register</span>
  
      <!-- Show "Logout" button if user is logged in -->
      <span mat-button *ngIf="isloggedin" (click)="logout()">Logout</span>
    </div>
  </mat-toolbar>